@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Shrikhand&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

.main-wrapper {
  width: 760px;
  margin: 0 auto 0 auto;
}

h1 {
  margin: 0 0 0 0;
  font-family: "shrikhand";
  font-weight: 100;
  font-size: 28px;
}

h2 {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  font-size: 24px;
}

h3 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 40px 0 0 18px;
}

h4 {
  margin: 40px 0 5px 0;
  font-weight: 400;
}

@media all and (max-width: 768px) {
  .main-wrapper {
    width: 100%;
    margin: 0 auto 0 auto;
  }
}

body {
  font-family: "roboto", arial, "sans serif";
}

input[type="text" i], input[type="text" i]:focus {
  background-color: #EAEAEA;
  border: none;
  width: 130px;
  font-family: "roboto";
  font-size: 17px;
  text-align: center;
}

input[type="text" i]#search:focus {
  border: none;
  color: black;
  outline: none;
}

.search--form {
  background-color: #EAEAEA;
  text-align: center;
  padding: 15px 0 15px 0;
}

.search--form p {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  color: black;
}

header {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo {
  font-family: "shrikhand";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 0 0px 0;
  font-size: 30px;
  position: absolute;
}

.flech {
  font-size: 20px;
  color: #353535;
  position: relative;
  left: 10px;
  top: 15px;
}

.footer_background {
  background-color: #353535;
  padding-top: 10px;
}

footer {
  background-color: #353535;
  color: white;
  font-size: 15px;
  font-weight: 400;
  width: 760px;
  margin: auto;
}

footer ul {
  padding: 0 0 20px 0;
  margin: 0;
}

footer ul li {
  list-style-type: none;
  padding-bottom: 7px;
}

footer ul li a {
  color: white;
}

footer ul li a:hover {
  text-decoration: underline;
}

.icon_footer {
  width: 25px;
  display: inline-block;
}

.text_footer {
  display: inline-block;
}

.logo.footer {
  font-size: 18px;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 15px;
  position: unset;
  display: block;
}

@media all and (max-width: 768px) {
  footer {
    width: 90%;
    padding-top: 0px;
    margin-top: 0;
  }
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  padding: 15px 12px 15px 12px;
  border-radius: 24px 24px 24px 24px;
  background-image: linear-gradient(to top left, #9356DC, #FF79DA 90px);
  width: 200px;
  -webkit-box-shadow: 0px 3px 10px #c3c3c3;
          box-shadow: 0px 3px 10px #c3c3c3;
}

.button:hover {
  -webkit-box-shadow: 0px 3px 10px #828282;
          box-shadow: 0px 3px 10px #828282;
}

.button__working {
  background-color: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 230px;
  height: 75px;
  font-size: 17px;
  font-weight: 600;
  border-radius: 28px 28px 28px 28px;
  -webkit-box-shadow: 0px 3px 10px #c3c3c3;
          box-shadow: 0px 3px 10px #c3c3c3;
}

.button__working:hover {
  background-color: #F5EDFF;
}

.button__working:hover i {
  color: #9356DC;
}

.number {
  background-color: #9356DC;
  width: 22px;
  height: 22px;
  border-radius: 11px 11px 11px 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  left: -10px;
  color: white;
  font-weight: 400;
  font-size: 14px;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon {
  position: relative;
  left: 10px;
  color: #7E7E7E;
  font-size: 20px;
}

.button__working--title {
  position: relative;
  left: 38px;
  color: #000;
  width: 120px;
  word-wrap: break-word;
}

.button--cmd {
  margin: 50px auto 50px auto;
}

@media all and (max-width: 768px) {
  .button__working {
    width: 95%;
    margin: auto;
  }
  .button__working--title {
    width: 70%;
  }
}

.new {
  position: relative;
  right: 20px;
  top: 20px;
}

.card {
  width: 48%;
  background-color: white;
  border-radius: 12px 12px 12px 12px;
  -webkit-box-shadow: 0px 3px 10px #c3c3c3;
          box-shadow: 0px 3px 10px #c3c3c3;
  position: relative;
}

.card--menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12px;
}

.restaurant-img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 170px;
  width: 100%;
  border-radius: 12px 12px 0 0;
}

.card__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 20px 18px 14px;
}

.card__text--menu {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 0px 0px 10px;
  height: 65px;
  width: 100%;
}

.card__text__description {
  width: 90%;
}

.card__text__description--menu {
  width: 600px;
}

.card__text__description__title {
  font-weight: 600;
  font-size: 19px;
  padding-bottom: 3px;
}

.card__text__description__title--menu {
  width: 600px;
  font-size: 17px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.card__text__description__subtitle {
  font-size: 16px;
}

.card__text__description__subtitle--menu {
  font-size: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.card__text__description__right {
  font-size: 25px;
}

.card__text__description__right--price {
  width: 40px;
  font-size: 15px;
  font-weight: 600;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding-bottom: 11px;
  margin-right: 20px;
  margin-left: 5px;
}

.checked {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #99E2D0;
  width: 55px;
  height: 65px;
  border-radius: 0 12px 12px 0;
  font-size: 20px;
  color: white;
}

.new {
  background-color: #99E2D0;
  width: 90px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  position: absolute;
  top: 10px;
  right: 10px;
  color: #278870;
  font-weight: 500;
}

@media all and (max-width: 768px) {
  .card {
    width: 100%;
  }
  .card--menu {
    width: 100%;
  }
  .card__text--menu {
    width: 85%;
  }
  .card__text__description--menu {
    width: 83%;
  }
  .card__text__description__title {
    width: 100%;
  }
  .card__text__description__right--price {
    width: 17%;
    margin-right: 0%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .checked {
    width: 15%;
  }
}

.explore {
  background-color: #F6F6F6;
  text-align: center;
  margin: 0px 0px 0px 0px;
  padding: 30px 0 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.explore p {
  font-size: 18px;
  font-weight: 300;
  margin: 12px 0 32px 0;
  padding: 0 20px 0 20px;
}

.buttons__working {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 97%;
  margin: 0 0 0 22px;
}

.restaurants {
  background-color: #F6F6F6;
  margin-top: 40px;
  padding-bottom: 50px;
  padding: auto;
}

.restaurants--title {
  width: 760px;
  margin: auto;
}

.cards__restaurants {
  width: 760px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  height: 520px;
}

@media all and (max-width: 768px) {
  .buttons__working {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 270px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: auto;
  }
  .restaurants {
    background-color: #F6F6F6;
    margin-top: 40px;
    padding-bottom: 0px;
    padding: auto;
  }
  .cards__restaurants {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    height: 1110px;
    padding-bottom: 50px;
    width: 90%;
  }
}

.cover img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 250px;
  margin-bottom: 0;
}

.menu {
  background-color: #F6F6F6;
  padding-top: 30px;
  padding-bottom: 10px;
  position: relative;
  top: -30px;
  border-radius: 30px 30px 0 0;
}

.menu .menu__titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 30px 0 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .menu__titre .menu__titre--like {
  font-size: 23px;
}

.underline {
  width: 30px;
  height: 3px;
  background-color: #99E2D0;
}

@media all and (max-width: 768px) {
  .main-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}
/*# sourceMappingURL=main.css.map */