@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Shrikhand&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

*:hover, *:active, a {
  color: black;
}

a {
  width: 100%;
}

.main-wrapper {
  width: 760px;
  margin: 0 auto 0 auto;
}

h1 {
  margin: 0 0 0 0;
  font-family: "shrikhand";
  font-weight: 100;
  font-size: 28px;
}

h2 {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  font-size: 24px;
}

h3 {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  font-size: 24px;
  margin-bottom: 20px;
  padding-left: 18px;
  padding-top: 40px;
}

h4 {
  margin-top: 40px;
  margin-bottom: 5px;
  font-weight: 400;
}

@media all and (max-width: 768px) {
  .main-wrapper {
    width: 100%;
    margin: 0 auto 0 auto;
  }
}

body {
  font-family: "roboto", arial, "sans serif";
}

input[type="text" i] {
  background-color: #EAEAEA;
  border: none;
  width: 130px;
  font-family: "roboto";
  font-size: 17px;
  text-align: center;
}

input {
  color: black;
}

.search--form {
  background-color: #EAEAEA;
  text-align: center;
  padding: 15px 0 15px 0;
}

.search--form p {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  color: black;
}

.logo {
  font-family: "shrikhand";
  text-align: center;
  margin: 10px 0 0px 0;
  font-size: 30px;
}

.flech {
  font-size: 20px;
  color: #353535;
  position: absolute;
  left: 10px;
  top: 20px;
}

footer {
  background-color: #353535;
  color: white;
  font-size: 15px;
  font-weight: 400;
}

footer ul {
  padding-left: 5%;
  margin-top: 15px;
  margin-bottom: 0;
  padding-bottom: 15px;
}

footer ul li {
  list-style-type: none;
  padding-bottom: 5px;
}

.logo.footer {
  font-size: 18px;
  text-align: left;
  padding-left: 5%;
  padding-top: 20px;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  padding: 15px 12px 15px 12px;
  border-radius: 24px 24px 24px 24px;
  background-image: linear-gradient(to top left, #9356DC, #FF79DA 90px);
  width: 200px;
}

.button__working {
  background-color: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 230px;
  height: 75px;
  font-size: 17px;
  font-weight: 600;
  border-radius: 28px 28px 28px 28px;
  -webkit-box-shadow: 0px 3px 10px #aaaaaa;
          box-shadow: 0px 3px 10px #aaaaaa;
}

.button__working:hover {
  background-color: #F5EDFF;
}

.number {
  background-color: #9356DC;
  width: 22px;
  height: 22px;
  border-radius: 11px 11px 11px 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  left: -10px;
  color: white;
  font-weight: 400;
  font-size: 14px;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon {
  position: relative;
  left: 10px;
  color: #7E7E7E;
  font-size: 20px;
}

.button__working--title {
  position: relative;
  left: 38px;
  color: #000;
  width: 120px;
  word-wrap: break-word;
}

.button--cmd {
  margin: 50px auto 50px auto;
}

@media all and (max-width: 768px) {
  .button__working {
    width: 95%;
    margin: auto;
  }
  .button__working--title {
    width: 70%;
  }
}

.new {
  position: relative;
  right: 20px;
  top: 20px;
}

.card {
  width: 48%;
  background-color: white;
  border-radius: 12px 12px 12px 12px;
  -webkit-box-shadow: 0px 3px 10px #aaaaaa;
          box-shadow: 0px 3px 10px #aaaaaa;
}

.card--menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12px;
}

.card .restaurant-img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 170px;
  width: 100%;
  border-radius: 12px 12px 0 0;
}

.card .card__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 20px 18px 14px;
}

.card .card__text--menu {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 0px 0px 10px;
  height: 65px;
  width: 100%;
  overflow: hidden;
}

.card .card__text__description {
  width: 90%;
}

.card .card__text .card__text__description__title {
  font-weight: 600;
  font-size: 19px;
  padding-bottom: 3px;
}

.card .card__text .card__text__description__title--menu {
  font-size: 17px;
}

.card .card__text .card__text__description__subtitle {
  font-size: 16px;
}

.card .card__text .card__text__description__subtitle--menu {
  font-size: 15px;
}

.card .card__text__description__right {
  font-size: 25px;
}

.card .card__text__description__right--price {
  font-size: 15px;
  font-weight: 600;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding-bottom: 10px;
  margin-right: 20px;
}

.checked {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #99E2D0;
  width: 55px;
  height: 65px;
  border-radius: 0 12px 12px 0;
  font-size: 20px;
  color: white;
}

@media all and (max-width: 768px) {
  .card {
    width: 100%;
  }
}

.explore {
  background-color: #F6F6F6;
  text-align: center;
  margin: 0px 0px 0px 0px;
  padding: 30px 0 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.explore p {
  font-size: 18px;
  font-weight: 300;
  margin: 12px 0 32px 0;
}

.buttons__working {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 97%;
  margin: auto;
}

.restaurants {
  background-color: #F6F6F6;
  margin-top: 40px;
}

.restaurants .cards__restaurants {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  height: 520px;
}

@media all and (max-width: 768px) {
  .buttons__working {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 270px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .restaurants .cards__restaurants {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    height: 1110px;
    padding-bottom: 50px;
  }
}

.cover img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 250px;
  margin-bottom: 0;
}

.main-wrapper__in {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
}

.menu {
  background-color: #F6F6F6;
  padding-top: 30px;
  position: relative;
  top: -30px;
  border-radius: 30px 30px 0 0;
}

.menu .menu__titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 30px 0 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .menu__titre .menu__titre--like {
  font-size: 23px;
}

.underline {
  width: 30px;
  height: 3px;
  background-color: #99E2D0;
}
/*# sourceMappingURL=main.css.map */