.button
{
    background-color: $color-secondary;
    display: flex;
    justify-content: center;
    color: white;
    padding: 15px 12px 15px 12px;
    border-radius: 24px 24px 24px 24px;
    
}

.button__explore
{
    width: 200px;
}