.new
{
    position: relative;
    right: 20px;
    top:20px;
    
}


.card
{
    width: 48%;
    background-color: rgb(255, 255, 255);
    border-radius: 12px 12px 12px 12px;
    @include box-shadow;
    position: relative;

    &--menu
    {
        width: 100%;
        display: flex;
        margin-top: 12px;

    }
}

.restaurant-img
{
    object-fit: cover;
    height: 170px;
    width: 100%;
    border-radius: 12px 12px 0 0 ;
    
}

.card__text
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px 18px 14px;

    &--menu
    {
         
        align-items:center;
        justify-content: space-between;
        padding: 0px 0px 0px 10px;
        height:65px ;
        width: 100%;
        overflow: hidden;
                
    }

    &__description
    {
        width: 90%;
    }
}

.card__text__description__title
{
    font-weight: 600;
    font-size: 19px;
    padding-bottom: 3px;
        
    &--menu
    {
        font-size: 17px;
                
    }
}

.card__text__description__subtitle
{
    font-size: 16px;

    &--menu
    {
        font-size: 15px;
    }
}
    

.card__text__description__right
{
    font-size: 25px;
     
    &--price
    {
        font-size: 15px;
        font-weight: 600;
        align-self: flex-end;
        padding-bottom: 10px;
        margin-right: 20px;
            
    }
}


.new
{
    background-color: $color-tertiary;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    position: absolute;
    top:0px;
    right: 0px;
}



@media all and (max-width: 768px) 
{



.card
{
    width: 100%;

}






}