@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Shrikhand&display=swap');

*
{
    box-sizing: border-box;
    text-decoration: none;
}



h1
{
    @include margin0;
    font-family: $font-title;
    font-weight: 100;
    font-size: 28px;
}

h2
{
    @include padding0;
    @include margin0;
    font-size: 24px;
}

h3
{
    font-size: 24px;
    margin: 0 0 20px 0;
    padding : 40px 0 0 18px;
}

h4{
    margin : 40px 0 5px 0;
    font-weight: 400;
}

h5 {
    font-weight: 600;
    font-size: 19px;
    padding-bottom: 3px;
    margin: 0 0 0 0;
}
 
.card__text__description--menu h5 {
        font-size: 17px;
        @include ellipsis;
    }


h6 {
    font-size: 16px;
    margin: 0 0 0 0;
    font-weight: 400;
}

.card__text__description--menu h6 {
    font-size: 15px;
    @include ellipsis;
}




