.explore {
    background-color: $background-color;
    text-align: center;
    margin: 0px 0px 0px 0px;
    padding: 30px 0 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        font-size: 18px;
        font-weight: 300;
        margin: 12px 0 32px 0;
        padding: 0 20px 0 20px;
    }

}

.working h3 {
    margin-top: 0;
    padding-left: 18px;
}

.buttons__working {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 97%;
    margin: 0 0 0 22px;
}



.restaurants {
    background-color: $background-color;
    margin-top: 40px;
    padding-bottom: 50px;

    &--title {
        width: 760px;
        margin: auto;
    }
}

.cards__restaurants {
    width: 760px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 520px;
}




@media all and (max-width: 768px) {

    .working h3 {
        margin-top: 0;
        padding-left: 0;
    }

    .buttons__working {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 270px;
        justify-content: space-between;
        margin: auto;
    }

    .restaurants {
        background-color: $background-color;
        margin-top: 40px;
        padding-bottom: 0px;

    }

    .restaurants--title {
        width: 100%;
    }

    .cards__restaurants {
        flex-direction: column;
        flex-wrap: nowrap;
        height: 1110px;
        padding-bottom: 50px;
        width: 90%;
    }



}

