
.cover img
{
    object-fit: cover;
    width: 100%;
    height: 250px;
    margin-bottom: 0;
}

.main-wrapper__in
{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
}

.menu
{
    background-color: $background-color;
    padding-top: 30px;
    position: relative;
    top: -30px;
    border-radius: 30px 30px 0 0 ;


    .menu__titre
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 30px 0 0px;
        align-items: center;
    

    .menu__titre--like
    {
        font-size: 23px;
    }
    }
}


.underline
{
    width: 30px;
    height: 3px;
    background-color: $color-tertiary;
}

.checked
{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $color-tertiary;
    width: 55px;
    height: 65px;
    border-radius: 0 12px 12px 0;
    font-size: 20px;
    color: white;
    
}

@media all and (max-width: 768px) 
{



}
