
.cover img
{
    object-fit: cover;
    width: 380px;
    height: 250px;
    margin-bottom: 0;
}

.main-wrapper__in
{
    padding-left: 20px;
}

.menu
{
    background-color: $background-color;
    padding-top: 30px;
    position: relative;
    top: -30px;
    border-radius: 30px 30px 0 0 ;


    .menu__titre
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 30px 0 0px;
        align-items: center;
    

    .menu__titre--like
    {
        font-size: 23px;
    }
    }
}


.underline
{
    width: 30px;
    height: 3px;
    background-color: $color-tertiary;
}