@keyframes ascend {
    100% {
        transform: translateY(-30px);
    }
}

@keyframes disappear {
    100% {
        visibility: hidden;
    }
}


@keyframes appear {
    0% {
        opacity: 0%;
        transform: translateY(10px);
    }
    100% {
        opacity: 100%;
        transform: translateY(0px);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


