@mixin box-shadow ($color:$box-shadow-color)
{ box-shadow: 0px 3px 10px $color}


@mixin box-shadow-hover ($color:$box-shadow-color-hover)
{ box-shadow: 0px 3px 10px $color}


@mixin margin0 {margin : 0 0 0 0}


@mixin padding0 {padding : 0 0 0 0}


@mixin text-new ($colour : $color-tertiary){
    @if (lightness($color-tertiary)<25%){
        $colour: lighten($color-tertiary,40%);
    }else{
        $colour:darken($color-tertiary, 40%);
    }
    color : $colour;
}


@mixin ellipsis 
{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

