$font-text : 'roboto';
$font-logo : 'shrikhand';
$font-title : 'shrikhand';

$color-primary : #9356DC;
$color-secondary : #FF79DA;
$color-tertiary : #99E2D0;

$background-color : #F6F6F6;

$box-shadow-color : #aaaaaa;

$working-hover : #F5EDFF;


$form : #EAEAEA;

