$font-text : 'roboto';
$font-logo : 'shrikhand';
$font-title : 'shrikhand';

$color-primary : #9356DC;
$color-secondary : #FF79DA;
$color-tertiary : #99E2D0;

$background-color : #F6F6F6;

$box-shadow-color : #c3c3c3;
$box-shadow-color-hover : #828282;

$working-hover : #F5EDFF;


$form : #EAEAEA;

