
footer
{
    background-color: #353535;
    color: white;
    font-size: 15px;
    font-weight: 400;


    ul
    {
        padding-left: 5%;
        margin-top: 15px;
        margin-bottom: 0;
        padding-bottom: 15px;
   
    li
    {
        list-style-type: none;
        padding-bottom: 5px;
    }

    }
}

.logo.footer
{
    font-size: 18px;
    text-align: left;
    padding-left: 5%;
    padding-top: 20px;
}


