input[type="text"i], input[type="text"i]:focus
{
    background-color:$form;
    border: none;
    width: 130px;
    font-family: $font-text;
    font-size: 17px;
    text-align: center;


}

input[type="text"i]#search:focus
{
    border : none;
    color : rgb(0, 0, 0);
    outline:none;
}


.search--form
{
    background-color: $form;
    text-align: center;
    padding: 15px 0 15px 0;
    
    p
    {
    margin: 0 0 0 0 ;
    padding : 0 0 0 0;
    color: rgb(0, 0, 0);
    }
}