


.logo
{
    font-family: $font-logo;
    text-align: center;
    margin: 10px 0 0px 0;
    font-size: 30px;
}

.flech
{
    font-size: 20px;
    color: #353535;
    position: absolute;
    left: 10px;
    top:20px;

}