


.buttons__working
{
    height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.working
{
    h2
    {
        margin-bottom: 30px;
        padding-left: 18px;
    }
}
